@charset "UTF-8";

body {
    background: linear-gradient(#7F28F7,#F7285D);
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin-left: 15px;
    margin-top: 0px;
}

#wrapper {
    width: 66%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

#right-column {
    width:66%;
    float: none;
    height: 600px;
    background-color: beige;
}

#left-column {
    width: 33%;
    float: none;
    height: 120px;
    
}

#footer {
    height: 90px;
    background-color: rgb(198, 119, 243);
}

#banner {
    height: 80px;
    background-color: rgb(198, 119, 243);
}





h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin-left: 15px;
    margin-top: 0px;
}




.clear {
    clear: both;
}

#links {
    position: absolute;
    margin-left: 40px;
    text-decoration-line: overline;
    text-decoration-color: plum;

    top: 100px;
    
}

#pfp-home{
    border-radius: 50%;
    position: absolute;
    margin-left: 350px;
    top: 150px
}